* {
    margin: 0;
    padding: 0;
}

.botoes {
    width: 490px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.botao {
    height: 40px;
    width: 60px;
    margin-right: 20px;
    background-color: rgba(231, 231, 49, 0.747);
    color: black;
}

div > .img {
  background-size: cover;
  width: 400px;
  height: 300px;
  margin: 50px 50px 50px 50px;
}